params {
    workflow_conceived_by = 'Kranti Konganti'
    workflow_built_by = 'Kranti Konganti'
    workflow_version = '0.5.0'
    db_mode = 'mitomine2'
    db_root = '/hpc/db/nowayout/03182024'
    nowo_thresholds = 'strict'
    fastp_run = true
    fastp_failed_out = false
    fastp_merged_out = false
    fastp_overlapped_out = false
    fastp_6 = false
    fastp_reads_to_process = 0 
    fastp_fix_mgi_id = false
    fastp_A = false
    fastp_use_custom_adapters = false
    fastp_adapter_fasta = (params.fastp_use_custom_adapters ? "${projectDir}"
        + File.separator
        + 'assets'
        + File.separator
        + 'adaptors.fa' : false)
    fastp_f = 0
    fastp_t = 0
    fastp_b = 0
    fastp_F = 0
    fastp_T = 0
    fastp_B = 0
    fastp_dedup = true
    fastp_dup_calc_accuracy = 6
    fastp_poly_g_min_len = 10
    fastp_G = true
    fastp_x = false
    fastp_poly_x_min_len = 10 
    fastp_cut_front = true
    fastp_cut_tail = false
    fastp_cut_right = true
    fastp_W = 20
    fastp_M = 30
    fastp_q = 30
    fastp_u = 40
    fastp_n = 5
    fastp_e = 0
    fastp_l = 35
    fastp_max_len = 0
    fastp_y = true
    fastp_Y = 30
    fastp_U = false
    fastp_umi_loc = false
    fastp_umi_len = false
    fastp_umi_prefix = false
    fastp_umi_skip = false
    fastp_p = true
    fastp_P = 20
    kmaalign_run = true
    kmaalign_idx = ("${params.db_root}"
        + File.separator
        + "kma"
        + File.separator
        + "${params.db_mode}")
    kmaalign_ignorequals = false
    kmaalign_int = false
    kmaalign_ef = false
    kmaalign_vcf = false
    kmaalign_sam = false
    kmaalign_nc = true
    kmaalign_na = true
    kmaalign_nf = false
    kmaalign_a = false
    kmaalign_and = true
    kmaalign_oa = false
    kmaalign_bc = false
    kmaalign_bcNano = false
    kmaalign_bcd = false
    kmaalign_bcg = false
    kmaalign_ID = (params.nowo_thresholds =~ /strict|mild/ ? 85.0 : 50.0)
    kmaalign_md = false
    kmaalign_dense = false
    kmaalign_ref_fsa = false
    kmaalign_Mt1 = false
    kmaalign_1t1 = false
    kmaalign_mrs = (params.nowo_thresholds ==~ /strict/ ? 0.99 : 0.90)
    kmaalign_mrc = (params.nowo_thresholds ==~ /strict/ ? 0.99 : 0.90)
    kmaalign_mp = (params.nowo_thresholds ==~ /strict/ ? 30 : 20)
    kmaalign_eq = (params.nowo_thresholds ==~ /strict/ ? 30 : 20)
    kmaalign_mrs = (params.nowo_thresholds ==~ /mild/ ? 0.90 : params.kmaalign_mrs)
    kmaalign_mrc = (params.nowo_thresholds ==~ /mild/ ? 0.90 : params.kmaalign_mrc)
    kmaalign_mp = (params.nowo_thresholds ==~ /mild/ ? 20 : params.kmaalign_mp)
    kmaalign_eq = (params.nowo_thresholds ==~ /mild/ ? 20 : params.kmaalign_eq)
    kmaalign_mp = (params.kmaalign_ignorequals ? 0 : params.kmaalign_mp)
    kmaalign_eq = (params.kmaalign_ignorequals ? 0 : params.kmaalign_eq)
    kmaalign_mq = false
    kmaalign_5p = false
    kmaalign_3p = false
    kmaalign_apm = false
    kmaalign_cge = false
    tuspy_gd = false
    seqkit_grep_run = true
    seqkit_grep_n = false
    seqkit_grep_s = false
    seqkit_grep_c = false
    seqkit_grep_C = false
    seqkit_grep_i = false
    seqkit_grep_v = false
    seqkit_grep_m = false
    seqkit_grep_r = false
    salmonidx_run = true
    salmonidx_k = false
    salmonidx_gencode = false
    salmonidx_features = false
    salmonidx_keepDuplicates = true
    salmonidx_keepFixedFasta = false
    salmonidx_filterSize = false
    salmonidx_sparse = false
    salmonidx_n = true
    salmonidx_decoys = false
    salmonalign_libtype = 'SF'
    ref_fna = ("${params.db_root}"
        + File.separator
        + "reference"
        + File.separator
        + "${params.db_mode}"
        + ".fna")
    sourmash_k = (params.nowo_thresholds ==~ /strict/ ? 71 : 51)
    sourmash_scale = (params.nowo_thresholds ==~ /strict/ ? 100 : 100)
    sourmashsketch_run = true
    sourmashsketch_mode = 'dna'
    sourmashsketch_file = false
    sourmashsketch_f = false
    sourmashsketch_name = false
    sourmashsketch_p = "'abund,scaled=${params.sourmash_scale},k=${params.sourmash_k}'"
    sourmashsketch_randomize = false
    sourmashgather_run = (params.sourmashsketch_run ?: false)
    sourmashgather_n = false
    sourmashgather_thr_bp = (params.nowo_thresholds ==~ /strict/ ? 100 : 100)
    sourmashgather_ignoreabn = false
    sourmashgather_prefetch = false
    sourmashgather_noprefetch = false
    sourmashgather_ani_ci = true
    sourmashgather_k = "${params.sourmash_k}"
    sourmashgather_protein = false
    sourmashgather_rna = false
    sourmashgather_nuc = false
    sourmashgather_noprotein = false
    sourmashgather_dayhoff = false
    sourmashgather_nodayhoff = false
    sourmashgather_hp = false
    sourmashgather_nohp = false
    sourmashgather_dna = true
    sourmashgather_nodna = false
    sourmashgather_scaled = false
    sourmashgather_inc_pat = false
    sourmashgather_exc_pat = false
    sfhpy_run = true
    sfhpy_fcn = 'f_match'
    sfhpy_fcv = (params.nowo_thresholds ==~ /strict/ ? "0.8" : "0.5")
    sfhpy_gt = true
    sfhpy_lt = false
    sfhpy_all = true
    lineages_csv = ("${params.db_root}"
        + File.separator
        + "taxonomy"
        + File.separator
        + "${params.db_mode}"
        + File.separator
        + "lineages.csv")
    gsalkronapy_run = true
    gsalkronapy_sf = 10000
    gsalkronapy_smres_suffix = false
    gsalkronapy_failed_suffix = false
    gsalkronapy_num_lin_cols = false
    gsalkronapy_lin_regex = false
    krona_ktIT_run = true
    krona_ktIT_n = 'all'
    krona_ktIT_q = false
    krona_ktIT_c = false
    krona_res_suffix = '.krona.tsv'
    fq_filter_by_len = 0
    fq_suffix = (params.fq_single_end ? '.fastq.gz' : '_R1_001.fastq.gz')
    fq2_suffix = '_R2_001.fastq.gz'
}